<h1>MMORPS</h1>

<p>Round output</p>

<p>Player  Score</p>
<p>Human:  #</p>
<p>Computer:  #</p>

<p>Choose!</p>

<form action="/" method="post">
      <label for="Rock">Rock </label><br>
      <input value="r" type="text" id="Rock" name="choice"><br>
      <label for="Paper">Paper </label><br>
      <input value="p" type="text" id="Paper" name="choice"><br>
      <label for="Scissors">Scissors </label><br>
      <input value="s" type="text" id="Scissors" name="choice"><br>
<input type="submit">
